body {
  background-color: rgb(255, 248, 240, 30%);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
  font-size: 55px;
  letter-spacing: 3px;
  margin: 20px 0 30px 25px;
  color: rgb(104, 38, 124);
}

.navigation-bar {
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgb(104, 38, 124, 5%);
  padding: 20px 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

#sidebar-button,
#sidebar-close-button {
  position: absolute;
  top: 142px;
  left: 120px;
  font-size: 20px;
  background-color: rgb(104, 38, 124, 0%);
  border: 0;
  color: rgb(104, 38, 124, 65%);
}

#sidebar-close-button {
  display: none;
}

ul li a {
  color: rgb(104, 38, 124, 65%);
}

ul li a:hover,
#sidebar-button:hover {
  color: rgb(104, 38, 124, 90%);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-s {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  margin: 50px 0 30px 0;
}

.seat-s li {
  width: 120px;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-s li div {
  margin-bottom: 12px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.stage {
  width: 120px;
  color: #fff;
  text-align: center;
  background-color: #cb6ed3;
  margin: 5px;
  padding: 5px 0;
}

.seat {
  background-color: #e278f7;
  height: 15px;
  width: 15px;
  margin: 3px;
}

.seat.selected {
  background-color: #a251c2;
}

.seat.occupied {
  background-color: rgb(209, 209, 209);
}

#cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart button {
  margin: 10px 0 50px;
}

footer {
  padding: 15px 0 5px 15px;
  font-size: small;
  font-weight: 200;
  background-color: rgb(104, 38, 124, 5%);
  color: gray;
}

footer h4 {
  margin: 0;
  font-size: medium;
  font-weight: 200;
}

#concert,
#classic,
#musical,
#display,
#kids,
#my {
  display: none;
}
